@import 'imports/all'

@import 'components/sidebar'
@import 'components/containers'
@import 'components/pagination'
@import 'components/breadcrumb'
@import 'components/modalwindow'

*
	font-family: $gNameFont
	color: $gColorBlack

body
	margin: 0
	padding: 0