@import 'imports/all'

*
	font-family: $gNameFont

body
	margin: 0
	padding: 0

@import 'components/autocompleteinput/autocompleteinput1'
@import 'components/basicpage/basicpage1'
@import 'components/breadcrumb/breadcrumb1'
@import 'components/button/button1'
@import 'components/centralizedcontainers/centralizedcontainers1'
@import 'components/checkbox/checkbox1'
@import 'components/containers/containers1'
@import 'components/floatheader/floatheader1'
@import 'components/form/form1'
@import 'components/itemselection/itemselection1'
@import 'components/loading/loading1'
@import 'components/loginmodels/loginmodel1'
@import 'components/menu/menu1'
@import 'components/messages/message1'
@import 'components/modalwindow/modalwindow1'
@import 'components/models/model1'
@import 'components/pagination/pagination1'
@import 'components/radiobutton/radiobutton1'
@import 'components/selectionmenu/selectionmenu1'
@import 'components/sidebar/sidebar1'
@import 'components/swiper/swiper1'
@import 'components/table/table1'
@import 'components/text/text1'
@import 'components/view/view1'


