<!-- DESCRIPTION -->
<!--
It allows us to create a View.
-->

<!-- DEPENDENCIES -->
<!--
<link rel="stylesheet" type="text/css" href="node_modules/mydesign-ag/dist/main.min.css" />
<link rel="stylesheet" type="text/css" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
-->

<!-- CODE -->
<div class="my-simple-container">

  <div class="my-view1-column-1x">
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #1:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #2:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
  </div>

  <div class="my-view1-column-2x">
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #3:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #4:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
  </div>

  <div class="my-view1-column-4x">
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #5:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #6:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #7:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
    <div class="my-view1-content">
      <div class="my-view1-title">
        Data #8:
      </div>
      <div class="my-view1-data">
        Data
      </div>
    </div>
  </div>

</div>