$nameFont: 'Raleway', sans-serif

$sizeFont: 14px

$colorBlack: #000000
$colorWhite: #ffffff

// Media queries
$smallSizeA: 400px
$smallSizeB: 450px
$smallSizeC: 500px
$mediumSizeA: 768px
$bigSizeA: 1024px
$bigSizeB: 1200px