.my-header, .my-article, .my-aside, .my-footer
	font-size: $gSizeFont
	color: white
	padding: 20px 10px

.my-header
	background-color: red
.my-article
	background-color: orange
.my-footer
	background-color: blue

@media screen and (min-width: $gMediumSizeA)
	.my-header, .my-article, .my-aside, .my-footer
		padding: 20px 50px