.my-justify
	text-align: justify

.my-simle-container
	padding: 20px 10px

.my-p
	margin-bottom: 10px

@media screen and (min-width: $mediumSizeA)
	.my-simle-container
		padding: 20px 50px 20px 50px

@media screen and (min-width: $bigSizeA)

@media screen and (min-width: $bigSizeA)