<!-- DESCRIPTION -->
<!--
It allows us to create a View.
-->

<!-- DEPENDENCIES -->
<!--
<link rel="stylesheet" type="text/css" href="node_modules/mydesign-ag/dist/main.min.css" />
<link rel="stylesheet" type="text/css" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
-->

<!-- CODE -->
<div class="my-view2">
  <div class="items">
    <div class="item">
      <div>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Date: 27/04/2010</span>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Expiration date: 27/04/2012</span>
      </div>
      <div>
        <span class="fas fa-text-width fa-1x"></span>
        <span>Name: Test #1</span>
      </div>
    </div>
    <div class="item">
      <div>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Date: 27/04/2013</span>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Expiration date: 27/04/2014</span>
      </div>
      <div>
        <span class="fas fa-text-width fa-1x"></span>
        <span>Name: Test #2</span>
      </div>
    </div>
    <div class="item">
      <div>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Date: 27/04/2021</span>
        <span class="fas fa-calendar-day fa-1x"></span>
        <span>Expiration date: 27/04/2025</span>
      </div>
      <div>
        <span class="fas fa-text-width fa-1x"></span>
        <span>Name: Test #3</span>
      </div>
    </div>
  </div>
</div>