.my-table1
	overflow: auto

	>table
		border-width: 1px
		border-style: solid
		border-color: $gColorBlack

		th, td
			padding: 10px
			color: $gColorBlack
		th
			background-color: $gColorGray3
		td
			min-width: 100px